<mat-form-field class="example-full-width">
  <mat-label>Contraseña</mat-label>
  <input
    type="password"
    matInput
    [formControl]="passwordFormControl"
    [errorStateMatcher]="matcher"
    placeholder="Ingresa tu contraseña"
    maxlength="50"
  />

  @if (isValidationsOn()) {
    @if (passwordFormControl.hasError('required')) {
      <mat-error>La contraseña es <strong>obligatoria</strong></mat-error>
    }
    @if (passwordFormControl.hasError('minlength')) {
      <mat-error>Debe tener mínimo <strong>8 caracteres</strong></mat-error>
    }
    @if (passwordFormControl.hasError('numberRequired')) {
      <mat-error>Debe incluir al menos <strong>un número</strong></mat-error>
    }
    @if (passwordFormControl.hasError('specialCharRequired')) {
      <mat-error>Debe incluir al menos <strong>un carácter especial</strong></mat-error>
    }
  }
</mat-form-field>
