<form class="recover-form" (ngSubmit)="submitCode()">
  <section class="recover-body">
    <div class="recover-form-header">
      <h1 class="recover-title">Recuperar Contraseña</h1>
      <p class="recover-subtitle">Introduce el código que recibiste en tu correo</p>
    </div>

    <mat-form-field appearance="outline" class="recover-input">
      <mat-label>Código de verificación</mat-label>
      <input matInput [formControl]="codeControl" placeholder="Ej: 123456" />
      <mat-error *ngIf="codeControl.hasError('required')">
        El código es obligatorio
      </mat-error>
      <mat-error *ngIf="codeControl.hasError('minlength')">
        El código debe tener al menos 6 dígitos
      </mat-error>
    </mat-form-field>

    <div class="recover-actions">
      <button mat-stroked-button color="warn" type="button" (click)="cancel()">Cancelar</button>
      <button mat-flat-button color="primary" type="submit">Validar Código</button>
    </div>
  </section>
</form>
